<section id="add">

  <div class="myInputs">

  <form class="form-signin" name="my_form" action="/add_player" method="post">
    <input id="player" class="form-control" autofocus name="player" placeholder="Player&hellip;" ></input>
    <br><br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add Player</button>
  </form>

  </div>
</section>

<br><br>

<h1><a href="/edit_games">Edit Games</a></h1>
<h1><a href="/add_player">Add Player</a></h1>
<h1><a href="/all_players">All Players</a></h1>
<h1><a href="/add_game">Add Game</a></h1>
<h1><a href="/add_vollis_game">Add Vollis Game</a></h1>