<section id="add">

  <div class="myInputs">

  <form class="form-signin" name="my_form" action="/add_golf_game" method="post">
    <input id="auto-winner1" class="form-control" name="golfer" placeholder="Golfer Name&hellip;"></input>
    <br><br>
    <input id="auto-winner1" class="form-control" name="location" placeholder="Location&hellip;"></input>
    <br><br>
    <input id="auto-winner1" class="form-control" name="Par" placeholder="Par&hellip;"></input>
    <br><br>
    <input id="auto-score" class="form-control" name="score" placeholder="Score&hellip;"></input>
    <br><br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add Game</button>
  </form>

  </div>

<br></br>
</section>

<table class="games">
  <caption>Games</caption>
  <thead>
    <tr>
      <th class="date" scope="col" colspan="1">Date</th>
      <th scope="col" colspan="1">Golfer</th>
      <th scope="col" colspan="1">Par</th>
      <th scope="col" colspan="1">Score</th>
      <th scope="col" colspan="1">Edit</th>
    </tr>
  </thead>
  <tbody>
      <% @golfgames.each do |game| %>
    <tr>
        <td class="date"><%= game.date %></td>
        <td><a><%= game.golfer %> </td>
        <td><%= game.score %></td>
        <td><span><a href="/<%= game.id %>">[edit]</a></span></td>
    </tr>
      <% end %>
  </tbody>
</table>

<br><br>

<h1><a href="/edit_games">Edit Games</a></h1>
<h1><a href="/add_player">Add Player</a></h1>
<h1><a href="/all_players">All Players</a></h1>
<h1><a href="/add_game">Add Game</a></h1>
<h1><a href="/add_vollis_game">Add Vollis Game</a></h1>
<h1><a href="/add_golf_game">Add Golf Game</a></h1>