<section id="add">

  <div class="myInputs">

  <form class="form-signin" name="my_form" action="/add_player" method="post">
    <input id="auto-location" class="form-control" autofocus name="location" placeholder="Player&hellip;" ></input>
    <br><br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add Player</button>
  </form>

  </div>
</section>