<h1><a href="/edit_games">Edit Games</a></h1>

<section id="add">

  <div class="myInputs">

  <form class="form-signin" name="my_form" action="/add_game" method="post">
    <input id="auto-location" class="form-control" autofocus name="location" placeholder="Your location&hellip;" ></input>
    <br><br>
    <input id="auto-winner1" class="form-control" name="winner1" placeholder="Winner first player&hellip;"></input>
    <br><br>
    <input id="auto-winner2" class="form-control" name="winner2" placeholder="Winner second player&hellip;"></input>
    <br><br>
    <input id="auto-loser1" class="form-control" name="loser1" placeholder="Loser first player&hellip;"></input>
    <br><br>
    <input id="auto-loser2" class="form-control" name="loser2" placeholder="Loser second player&hellip;"></input>
    <br><br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add Game</button>
  </form>

  </div>


<script src="/js/auto-complete.js"></script> 
<script> 
  $('#auto-location').on('focus', function() {
   document.body.scrollTop += this.getBoundingClientRect().top - 1;
  });
  $('#auto-winner1').on('focus', function() {
   document.body.scrollTop += this.getBoundingClientRect().top - 1;
  });
  $('#auto-winner2').on('focus', function() {
   document.body.scrollTop += this.getBoundingClientRect().top - 1;
  });
  $('#auto-loser1').on('focus', function() {
   document.body.scrollTop += this.getBoundingClientRect().top - 1;
  });
  $('#auto-loser2').on('focus', function() {
   document.body.scrollTop += this.getBoundingClientRect().top - 1;
  });
</script>


</section>
<table>
  <caption>Today's Stats</caption>
  <thead>
    <tr>
      <th scope="col" colspan="2">Player</th>
      <th scope="col" colspan="2">wins</th>
      <th scope="col" colspan="2">losses</th>
      <th scope="col" colspan="2">Win %</th>
    </tr>
  </thead>
  <tbody>
      <% @todays_stats.each do |stat| %>
    <tr>
        <td><%= stat[:player] %></td>
        <td><%= stat[:wins] %></td>
        <td><%= stat[:losses] %></td>
        <td><%= stat[:win_percentage] %>%</td>
    </tr>
      <% end %>
  </tbody>
</table>
