<h1><a href="/add_player">Add Player</a></h1>
<h1><a href="/add_game">Add Game</a></h1>

<% @players.each do |player| %>
  <article>
    <p>
      <%= player.player %>
      <span><a href="/player/delete/<%= player.id %>">[delete]</a></span>
    </p>
  </article>
<% end %>
