<h1><a href="/add_game">Add Game</a></h1>

<% @players.each do |player| %>
  <article>
    <p>
      <%= player.player %> 
      <span><a href="/<%= player.id %>">[edit]</a></span>
    </p>
  </article>
<% end %>
