<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= 'SpeedSheets' %></title>
  <link href="/css/auto-complete.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>

  <div id="main">
    <%= yield %>
  </div>

</body>
</html>
